<div>
    <form (submit)="onLogSubmit()">
        <div class="form-container">   
          <mat-form-field>
            <input matInput type="text" [(ngModel)]="username" name="username" placeholder="Username">
          </mat-form-field>
          
          <mat-form-field>
              <input matInput [(ngModel)]="password" name="password" placeholder="Enter your password" [type]="hide ? 'text' : 'password'">
              <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
          </mat-form-field> 
        </div>  
        <div class="button-row">
            <button type="submit" value="submit" mat-raised-button color="primary">Submit</button>
        </div>
    </form>
  </div> 