<div>
    <div class="example-container">
        <mat-form-field>
          <input matInput placeholder="First and Last name">
        </mat-form-field>
      
        <mat-form-field>
            <input matInput placeholder="Username">
          </mat-form-field>

        <mat-form-field>
          <textarea matInput type="email" placeholder="E-mail"></textarea>
        </mat-form-field>

        <mat-form-field>
            <textarea matInput type="password" placeholder="Password"></textarea>
          </mat-form-field>
      
        <mat-form-field>
          <mat-select placeholder="Select">
            <mat-option value="option"></mat-option>
            <mat-option value="option">Option</mat-option>
            <mat-option value="option">Option</mat-option>
          </mat-select>
        </mat-form-field>
      </div>  
</div> 
