<div>
    <div class="example-container">
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="name" name="name" placeholder="First and Last name">
        </mat-form-field>
      
        <mat-form-field>
          <input matInput placeholder="Username">
          </mat-form-field>

        <mat-form-field>
          <textarea matInput type="email" placeholder="E-mail"></textarea>
        </mat-form-field>

        <mat-form-field>
            <textarea matInput type="password" placeholder="Password"></textarea>
          </mat-form-field>
          
      </div>  
</div> 
