<div>
  <form (submit)="onResgisterSubmit()">
    <div class="form-container">
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="name" name="name" placeholder="First and Last name">
        </mat-form-field>
      
        <mat-form-field>
          <input matInput type="text" [(ngModel)]="username" name="username" placeholder="Username">
          </mat-form-field>

        <mat-form-field>
         <!-- <textarea matInput type"text" [(ngModel)]="email" name="email" placeholder="E-mail"></textarea> -->
         <input matInput type"email" [(ngModel)]="email" name="email" placeholder="E-mail">
        </mat-form-field>

        <mat-form-field>
           <!-- <textarea matInput type="password" [(ngModel)]="password" name="password" placeholder="Password"></textarea>-->
           <!-- <input matInput [(ngModel)]="password" name="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon> -->
            <input matInput [(ngModel)]="password" name="password" placeholder="Enter your password" [type]="hide ? 'password' : 'text'">
            <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
          </mat-form-field>
          
      </div>  
      <div class="button-row">
          <button type="submit" value="submit" mat-raised-button color="primary">Submit</button>
      </div>
  </form>
</div> 
